* {
  box-sizing: border-box;

  $white: #ffffff;
  $haikei: #253141;
  $mizuiro: #38aef0;
  $formiro: #d2d2d2;
  $mojiiro: #333333;
  $usuiiro: #999999;
  $mojiiro2: #434a54;

  .flex-style{
    display: flex;

    .wrapper {
      @extend .flex-style;
      position: relative;
    
      .side-bar {
        width: 300px;
        height: 100vh;
        background-color: $haikei;
        
        &__box {
          height: 100px;
          font-size: 16px;
          background-color: $haikei;
          padding: 0 20px;
          align-items: center;
          line-height: 20px;

          .top-items {
            height: 20px;
            width: 260px;
            @extend .flex-style;
            float: left;
            margin: 40px 0px 40px 0px;
            font-weight: bold;
            justify-content: space-between;

            &__name {
              height: 20px;
              color: $white;
            }

            &__icon {
              @extend .flex-style;
              justify-content: flex-end;
              height: 20px;
              width: 60px;
              color: $white; 
            
              &__new-group{
                margin-left: 0.3rem;
              }
              &__edit{
                margin-left: 0.3rem;
              }
            }
            
            a {
                color: $formiro;
                float: right;
            }
          }
        }
        .groups {
          height: calc(100vh - 100px);
          background-color: #2f3e51;
          padding: 20px 20px;
          overflow: scroll;
          
          .group {
            width: 100%;
            margin-bottom: 40px;
          
            &__name {
              height: auto;
              width: 100%;
              font-size: 15px;
              font-weight: bold;
              margin-bottom: 5px;
            }
            
            a {
              color: $white;
              text-decoration: none;
            }
          
            &__message {
              height: auto;
              color: $white;
              font-size: 11px;
            }
          }   
        }
        .groups::-webkit-scrollbar {
          display:none;
        }
      }
      .main-chat {
        width: calc(100vw - 300px);
        height: 100vh;
        background-color: $white;
        
        &__mainheader {
          height: 100px;
          @extend .flex-style;
          justify-content: space-between;
          background-color: $white;
          padding: 0 40px;
          border-bottom:1px solid #eee;
          
          &__name {
            margin-top: 35px;
            list-style: none;

            &__grouptype {
            font-size: 20px;
            color: $mojiiro;
            margin-bottom: 15px;
            }
          
            &__member {
            @extend .flex-style;
            color: $usuiiro;
            font-size: 12px;
              &__user {
                margin-left: 5px;
              }
            }
          }
          &__editbtn {
            height: 40px;
            border: 1px solid $mizuiro;
            line-height: 40px;
            margin-top: 28px;
            padding: 0 20px;
            
            .edit-page {
              text-decoration: none;
              color: #38aef0;
              font-size: 16px;
            }
          }
        }
      
        
        .message_list {
          height: calc(100vh - 190px);
          overflow: scroll;
          padding: 46px 40px;
          background-color: #fafafa;
          
          .message {
            background-color: #fafafa;
            padding: 35px 40px;
          
            .upper-message {
              @extend .flex-style;

              &__user-name {
                font-size: 16px;
                color: $mojiiro;
                margin-bottom: 12px;
              }

              &__date {
                color: $usuiiro;
                font-size: 12px;
                margin-left: 10px;
              }
            }

            .lower-message {
              color: $mojiiro2;
              font-size: 14px;
              margin-bottom: 10px;
            }
          }
        }  
        .message_list::-webkit-scrollbar {
          display:none;
        }
        .message-form {
          height: 90px;
          padding: 20px 40px;
          background-color: #ddd;

          form{
            @extend .flex-style;
            
            .input-box {
              width: 100%;
              @extend .flex-style;
              position: relative;
            
              &__text {
                width: 100%;
                height: 50px;
                color: $mojiiro2;
                position: relative;
                padding: 0 40px 0 10px;
              }

              &__image {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 1.3rem;
                cursor: pointer;
              }

              &__hidden {
                display: none;
              }
            }
            
            .submit-btn{
              height: 50px;
              width: 100px;
              padding: 0 30px;
              margin-left: 15px;
              color: $white;
              background-color: $mizuiro;
              cursor: pointer;
            }
          }
        }
      }  
    }  
  }
}



